# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3


# Настройки проекта
kpi_analyzer/kpi_analyzer_project/settings.py

# Переменные окружения
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db