Django
djangorestframework
django-cors-headers
mysqlclient
python-dotenv
pandas
openpyxl
django-filter
channels
channels
gspread
oauth2client
pyparsing
celery
redis
python-dateutil
lark-parser
websockets
django-celery-beat
python-memcached
django-redis
asgiref
click
click-didyoumean
click-repl
click-plugins
kombu
billiard
vine
amqp